* {
  /* outline: 1px solid red !important; */
}
html,
body {
  background-color: #fafafc;
}
.container {
  margin: 0 auto;
  width: 40%;
}
.danger-alert {
  color: red;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 16px;
}
.field-wrapper {
  margin: 20px auto;
  width: 100%;
}
.form-card {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  margin: 0 auto;
  padding: 32px 48px 48px 48px;
}
.header {
  background-color: #ffffff;
  height: 80px;
  padding: 40px 0;
}
.icon {
  color: #bfc0c0;
  font-size: 20px;
}
input {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 24px;
  padding: 16px;
  width: 90%;
}
.input-label {
  color: #333333;
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}
.page-title-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16px 0 42px 0;
}
.wrapper {
  column-gap: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 32px 0;
}

/* Card */
.product-card {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  margin-bottom: 16px;
  padding: 24px;
}
.product-card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.product-card-header > h3 {
  color: #5e3023;
  margin: 0;
  width: 70%;
}
.product-card-body {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.product-card-body > div {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.price-history-section {
  margin: 0 0 -16px 16px;
}
.price-history-section > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: -16px 0 -16px 0;
}

/* Buttons */
.button-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}
.button {
  background-color: #323232;
  border-radius: 6px;
  color: #fafafc;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 24px;
}
.edit {
  background: #f2f2f2;
  border: none;
  color: #707070;
  width: 45%;
}
.delete {
  background: none;
  border: 1px solid #e8431d;
  color: #c23616;
  width: 45%;
}
.fluid {
  margin-top: 8px;
  width: 100%;
}
.link {
  color: #2d71ed;
  font-weight: 600;
  text-decoration: none;
}

/* utilities */
.body-text {
  color: #7f7f7f;
  font-size: 16px;
}
.center-text {
  text-align: center;
}
.grey-100 {
  color: #333333;
}
.grey-300 {
  color: #666666;
}
.light-text {
  font-weight: 300;
}
.small-text {
  font-size: 14px;
}
